* {
  font-family: "PT Serif";
  color: black;
  border: 1px solid black;
}
body {
  display: grid;
  grid-template-columns: 1fr, 7fr;
  gap: 10px;
}

header {
  grid-column: 1 / 3;
}
.rune-container {
  grid-column: 1 / 1;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-auto-rows: minmax(50px auto);
}
.rune-container > img {
  max-width: 50px;
}
.rune-info {
  grid-column: 2 / 3;
}
.author {
  grid-column: 2 /3;
}
.socials {
  grid-column: 1 / 2;
}
