.header-main {
  width: 100%;
  background-color: #533a7b;
  height: 60px;
}
.header-main-logo {
  width: 120px;
  height: 100%;
  color: yellow;
}
.header-main-nav {
  width: 120px;
  height: 100%;
  color: green;
}
.sm {
  width: 120px;
  height: 100%;
  color: cyan;
}

/*
body {
  background-image: url(img/d3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
*/
