* {
  font-family: "PT Serif";
  color: white;
}

.header-main {
  width: 100%;
  background-image: url(/img/row.png);
  background-size: contain;
  min-height: 4vh;
  margin-bottom: 10vh;
  text-align: center;
  margin: 0%;
}

body {
  background-image: url(img/d3.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
}
.rune-container {
  font-size: smaller;
  color: white;
  border: 4px solid white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 131px;

  min-height: 40%;
  gap: 8%;
  row-gap: 1vh;
  background-color: rgba(0, 0, 0, 70%);
}
.rune-container img {
  max-width: 3vh;
}

/* This is where i should be able to move the damn container box */
.main {
  display: flex;
  justify-content: left;
  align-items: center;
  justify-content: stretch;
}
.infoscreen {
  color: white;
  border: 2px solid red;
  text-align: center;
  background-color: rgba(0, 0, 0, 80%);
  border-radius: 10px;
}
.runeinfo {
  color: white;
}
.infoscreen h1 {
  text-decoration: underline;
}
h2 {
  text-align: center;
  text-decoration: underline;
}

footer {
  background-image: url(/img/row.png);
  background-size: contain;
  text-align: center;
  margin-top: 100%;
}
